
@mixin border-gradient($from, $to) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px rgba($mix-sub-to, .05),
              0 -1px rgba($mix-sub-from, .15),
              1px 0 rgba($mix-sub-to, .05),
              -1px 0 rgba($mix-sub-from, .15),
              1px -1px rgba($mix-main, .05),
              -1px 1px rgba($mix-main, .15),
              1px 1px rgba($to, .05),
              -1px -1px rgba($from, .15),
                3px -3px rgba($mix-main, .15),
              -3px 3px rgba($mix-main, .05),
              3px 3px rgba($to, .15),
              -3px -3px rgba($from, .05);
}

header .wrapper {
  position: relative;
}

.circle {
  width: 415px;
  height: 415px;
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: 25%;
   @include border-gradient($accent2, $accent2);
    animation: rotate 60s linear infinite;
  &:nth-of-type(2) {
    @include border-gradient($accent, $accent);
    animation: rotate 10s linear infinite;
  }

  &:nth-of-type(3) {
    @include border-gradient($accent2, $accent2);
  }
  
  
  &-multiple & {
    &:nth-of-type(1) { animation: psycho 15s linear infinite; }
    &:nth-of-type(2) { animation: psycho 10s linear .30s infinite; }
    &:nth-of-type(3) { animation: psycho 15s linear .25s infinite; }
  }
 
}



@keyframes rotate {
  from {transform: rotate(0deg) scale(1);}
  to {transform: rotate(360deg) scale(1);}
}

@keyframes psycho {
  0% {transform: rotate(0deg) scale(1) translate(0, 0);}
  
  33% {transform: rotate(360deg) scale(1) translate(25px, 25px);}
  
  66% {transform: rotate(720deg) scale(1) translate(-25px, -25px);}
  
  100% {transform: rotate(1080deg) scale(1) translate(0, 0);}
}


@keyframes rotate2 {
  to {transform: rotate(-360deg);}
}

@keyframes clockwise { 
    100% { transform:rotate(360deg); } 
}  