//////// FOOTER //////// 

footer {
  color: $black;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px 0 25px 0;
  .email {
    color: $white;
    font-size: 2.5rem;
    span {
      color: $transwhite;
    }
  }
  .icons {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }
  i {
    color: $black;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    transition: 0.35s ease;
    &:hover {
      color: $accent;
      border-color: $transwhite;
    }
  }
  p {
    color: $transwhite;
  }
}

//// FORM

form { 
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 25px auto;
  input,
  textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 15px;
    background: rgba(255,255,255,0.6);
      &:hover{
        background: rgba(255,255,255,0.7);
      }
  }
    textarea {
      resize: none;
      &:hover {
        resize: auto;
      }
    }
  }