//////// FOOTER //////// 

footer {
  color: $black;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  .content {
    border: none;
    margin: 0;
    padding-bottom: 25px;
  }
  .email {
    color: $black;
    font-size: 2rem;
    span {
      color: $grey;
    }
  }
  .icons {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }
  i {
    color: $black;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    transition: 0.35s ease;
    &:hover {
      color: $accent;
      border-color: $transwhite;
    }
  }
  .copyright {
    margin-top: 25px;
  }
}

//// FORM

form { 
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  input,
  textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: lighten($grey, 50%);
    // border-bottom: 1px solid lighten($grey, 35%);
    &:hover {
      background: lighten($grey, 45%);

    }
    &:focus{
      background: lighten($grey, 45%);
    }
  }
    textarea {
      resize: none;
      &:hover {
        resize: auto;
      }
    }
    input[type="submit"] {
      background: $black;
      color: $white;
    }
  }