//////// FOOTER ////////

footer {
  height: 100vh;
  color: $black;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
  h2 {
    margin-bottom: 25px;
    line-height: 1;
  }
  .email {
    font-size: 1.8rem;
    color: $black;
    font-weight: 500;
  }
  .up {
    display: inline-block;
  }
  .icons {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }
  i {
    color: $black;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    transition: 0.45s ease;
    &:hover {
      color: $accent;
    }
  }
  .copyright {
    color: grey;
  }
}

//// FORM

form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  label {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.6rem;
  }
  input,
  textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: lighten($grey, 50%);
    &:hover {
      background: lighten($accent, 20%);
    }
    &:focus {
      background: lighten($accent, 15%);
    }
  }
  textarea {
    resize: none;
    &:hover {
      resize: auto;
    }
  }
  input[type="submit"] {
    background: $grey;
    color: $white;
    &:hover {
      background: $black;
    }
  }
}

