//////// FOOTER ////////

footer {
  color: $black;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  .content {
    border: none;
    margin: 0;
    padding-bottom: 5px;
    &::after {
      display: none;
    }
  }
  .email {
    font-size: 2rem;
    span {
      color: $grey;
    }
  }
  .top {
    display:inline-block;
    margin-top: 20px;
    &:hover {
      text-decoration: underline;
    }
  }
  .email,
  .top {
    color: $black;
  }
  .icons {
    display: flex;
    justify-content: center;
    margin: 25px 0;
  }
  i {
    color: $black;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    transition: 0.35s ease;
    &:hover {
      color: $accent;
      border-color: $transwhite;
    }
  }
  .copyright {
    margin-top: 50px;
    color: $grey;
  }
}

//// FORM

form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  label {
    text-align: left;
    margin-bottom: 5px;
  }
  input,
  textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: lighten($grey, 50%);
    // border-bottom: 1px solid lighten($grey, 35%);
    &:hover {
      background: lighten($accent, 20%);
    }
    &:focus {
      background: lighten($accent, 15%);
    }
  }
  textarea {
    resize: none;
    &:hover {
      resize: auto;
    }
  }
  input[type="submit"] {
    background: $grey;
    color: $white;
    &:hover {
      background: $black;
    }
  }
}
