$white: #faf9f9;
$transwhite: rgba(250, 249, 249, 0.9);
$black: #181717;
$transblack: rgba(0, 0, 0, 0.8);
$accent: #fa8072;
$transaccent: rgba(250, 128, 114, 0.5);
$grey: #646464;
$accent2: #ffb30e;

html {
  font-size: 62.5%;
}

body {
  background: $white;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.down-noun {
  position:absolute;
  left: 44%;
  bottom: 5px;
}
.down-noun, 
.up-noun {
  width: 100px;
  height: 100px;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}