$white: #faf9f9;
$transwhite: rgba(250, 249, 249,0.4);
$black: #181717;
$transblack: rgba(0, 0, 0, 0.8);
$accent: #fa8072;
$transaccent: rgba(250, 128, 114,0.5);
$grey: #646464;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: $white;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

.fa-angle-double-down {
  position: absolute;
  font-size: 3rem;
  left: 50%;
  bottom: -20vh;
  &:hover{
    color: $black;
    font-size: 3.1rem;
  }
}

.fa-angle-double-down,
.fa-angle-double-up {
  color: $accent;
  display: block;
  text-align: center;
}

img {
  width: 100%; 
  max-width: 100%; 
  display: block;
}