$white: #faf9f9;
$transwhite: rgba(250, 249, 249,0.8);
$black: #181717;
$transblack: rgba(0, 0, 0, 0.8);
$accent: #fa8072;
$transaccent: rgba(250, 128, 114,0.5);
$grey: #646464;

html {
  font-size: 62.5%;
}

body {
  background: $white;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
}

.content {
    padding: 50px 0;
    position: relative;
    h2 {
      margin: 25px 0;
    }
}

#about, 
#skills, 
#projects {
  .content::before {
    content:"";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $black;
  }
  .content::after {
    content:"";
    position: absolute;
    width: 10px;
    height:  10px;
    background: black;
    // border-left: 5px solid $black;
    // border-right: 5px solid $black;
    // border-top: 5px solid $black;
    // border-bottom: 5px solid $black;
    left: calc(50% - 5px);
    bottom: -5px;
  }
}

img {
  width: 100%; 
  max-width: 100%; 
  display: block;
}

p {
  line-height: 2.5rem;
  margin-bottom: 15px;
}
// @media (max-width: 550px) {
//   .wrapper {
//   width: 95vw;
//   }
// }