$white: #faf9f9;
$accent: salmon;
$transaccent: rgba(32, 178, 170, 0.5);
$black: #181717;
$transwhite: rgba(255, 255, 255, 0.4);
$transblack: rgba(0, 0, 0, 0.8);
$grey: #646464;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif;
  background: $white;
}

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
}

.content {
    padding: 75px 0;
    border-bottom: 1px solid $accent;
    position: relative;
}

.content::after {
  content:"";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid $accent;
  left: calc(50% - 15px);
  top: 100%;

}

img {
  width: 100%; 
  max-width: 100%; 
  display: block;
}

p {
  line-height: 2.5rem;
  margin-bottom: 15px;
}
