header {
  background: $white;
  color: $black;
  height: 100vh;
  position: relative;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

#top-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 5vw;
  z-index: 100;
}

.main-nav {
  position: relative;
}
.list {
  display: none;
  text-transform: lowercase;
  text-align: right;
  position: absolute;
  top: -10px;
  right: 0;
  li {
    text-transform: lowercase;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px 20px 10px 30px;
    &:hover {
      border: 1px solid $accent;
      background: lighten($accent, 25%);
    }
  }
}

.exit,
.hide {
  display: none;
}

.hidden {
  display: block;
}

// .fix-nav {
//   position: fixed;
//   top: 0;
// }