header {
  overflow-x: hidden;
  background: $white;
  color: $black;
  height: 100vh;
  position: relative;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

#top-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px 5vw;
  z-index: 100;
}

.main-nav::before,
.main-nav::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  // border-radius: 50%;
  transform-origin: 60% center;
  z-index: -10;

}

.main-nav::before {
  top: 0;
  left: 0;
  border: 2px solid $accent;
}

.main-nav::after {
  top:-5px;
  left: -9px;
  border: 2px solid $accent2;
}

.main-nav {
  position: relative;
  cursor: pointer;
  z-index: 2000;
  &:hover::after {
    animation: rotate2 5s linear infinite;
  }
  &:hover::before {
    animation: clockwise 5s linear infinite;
  }
  &:hover .hamburger {
    border-color: $black;
  }
}

.list {
  display: none;
  text-transform: lowercase;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 0;
  li {
    background: $white;
    text-transform: lowercase;
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px 20px 10px 30px;
    font-weight: 700;
    &:hover {
      border: 2px solid $accent;
      background: lighten($accent, 25%);
    }
  }
}

.exit {
  margin-left: auto;
}

.hamburger,
.exit {
  font-size: 1.4rem;
  padding: 11px 10px 10px 10px;
  width: 40px;
  height: 40px;
  background: $white;
  border: 2px solid $black;
  z-index: 1000;

}

.exit,
.hide {
  display: none;
}

.hidden {
  display: block;
}

// .fix-nav {
//   position: fixed;
//   top: 0;
// }
