header {
  background: $white;
  color: $black;
  height: 100vh;
  padding: 25px 0;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
  h1 {
    color: $black;
    font-size: 8rem;
    margin: 10px 50px;
    display: inline-block;
    letter-spacing: -4px;
  }
  i {
    font-size: 2.5rem;
    color: white;
  }
  span {
      color: $accent;
  }
  h2 {
      text-transform: lowercase;
  }
}

nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      text-transform: lowercase;
      margin: 0 15px;
    }
    a {
      color: $black;
      position: relative;
      &:hover:after {
        color: $accent;
      }
    }
  }
}

header a::after {
  content: ".";
  font-size: 8rem;
  position: absolute;
  top: -35px;
  left: 40%;
  color: transparent;
}
