header,
#about,
#skills {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

//////// ABOUT ////////

#about {
  text-align: center;
  .content {
    padding-top: 50px;
  }
  h2 {
    margin-bottom: 5px;
  }
  .me {
    width: 175px;
    display: block;
    position: relative;
    img {
      border-radius: 50%;
      border: 3px solid black;
    }
    margin: 10px auto 25px auto;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 575px;
    margin: 0 auto;
  }
  a {
    font-weight: 700;
    color: $accent;
  }
}

.me::before,
.me::after {
  content: "";
  position: absolute;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  z-index: -20;
}

.me::before {
  border: 2px solid $accent2;
  top: 0;
  left: 0;
}

.me::after {
  border: 2px solid $accent;
  top: -10px;
  left: -20px;
}

//////// SKILLS ////////

#skills {
  .content {
    padding-top: 130px;
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      width: 120px;
      text-align: center;
      padding: 20px 10px;
    }
    i {
      font-size: 4.5rem;
      margin-bottom: 5px;
    }
    img {
      height: 45px;
      margin-bottom: 5px;
    }
  }
}

//////// PROJECTS ////////

#projects {
  padding: 50px 0;
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  .project {
    margin-bottom: 25px;
    width: calc(50% - 20px);
    &:nth-of-type(odd) {
      margin-right: 40px;
    }
  }
  .mockup {
    width: 100%;
    position: relative;
  }
  .project-skills {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .description {
    padding: 25px 0;
    text-align: center;
  }
  .view {
    font-weight: 700;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 0;
    margin-right: 10px;
    width: 80px;
    text-align: center;
    &:hover {
      border-color: $accent;
      background: lighten($accent, 25%);
    }
  }
}
