.content {
    padding: 100px 0;
    border-bottom: 2px solid $black;
}
//////// ABOUT ////////

#about {
 i {
    font-size: 5rem;
    margin-right: 15px;
  }
  img {
    height: 80px;
    display: inline-block;
    margin-right: 15px;
  }
  .icons {
    display: flex;
    .fab,
    .devicon-jquery-plain {
      color: $black;
    }
  }
}

//////// PROJECTS ////////

#projects {
  background: $white;
}

.project-container {
  display: flex;
  padding: 25px;
  margin: 50px 0;
  border: 1px solid black;
}
.project {
  height: 60vh;
  width: 50%;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.screenshot {
  background: #cccccc;
}

.jquery {
  fill: $white;
}
