header,
#about,
#skills {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

//////// ABOUT ////////

#about {
  .intro {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    h2 {
      margin-bottom: 0;
    }
  }
  .bio {
    text-align: left;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    margin: 0 auto;
  }
  .headshot {
    padding-bottom: 25px;
    position: relative;
    img {
      border: 2px solid $accent2;
    }
  }
  .headshot,
  .bio {
    width: calc(50% - 30px);
    margin: 0 10px;
  }
}

//////// SKILLS ////////

#skills {
  .content {
    padding-top: 150px;
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
      width: 120px;
      text-align: center;
      padding: 20px 10px;
    }
    i {
      font-size: 6.8rem;
      margin-bottom: 5px;
    }
    img {
      height: 68px;
      margin-bottom: 5px;
    }
  }
}

//////// PROJECTS ////////

#projects,
#projects2 {
  padding-top: 25px;
  height: 100vh;
  .projects-container {
    display: flex;
    flex-wrap: wrap;
  }
  .project {
    width: calc(50% - 30px);
    &:nth-of-type(odd) {
      margin-right: 60px;
    }
  }
  .mockup {
    width: 100%;
    position: relative;
  }
  .project-skills {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .description {
    padding: 25px 0;
    text-align: center;
  }
  .view {
    font-weight: 700;
    display: inline-block;
    border: 1px solid $accent;
    padding: 10px 0;
    margin-right: 10px;
    width: 80px;
    text-align: center;
    transition: 0.5s ease;
    &:hover {
      border-color: $accent;
      background: lighten($accent, 25%);
    }
  }
}
