//////// ABOUT ////////

#about,
#skills,
#projects,
#contact {
  padding: 50px 0;
}

#about {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    border-radius: 50%;
    width: 200px;
  }
}

//////// SKILLS ////////

#skills {
    background: $white;
  .content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  i {
    font-size: 5rem;
    margin: 0 10px;
  }
  img {
    height: 80px;
    display: inline-block;
    margin: 0 30px;
  }
  .icons {
    display: flex;
    justify-content: center;
    .fab,
    .devicon-jquery-plain {
      color: $black;
    }
  }
}

//////// PROJECTS ////////

#projects {
  background: $white;
}

.project-container {
  display: flex;
  padding: 25px;
  margin: 50px 0;
  border: 1px solid black;
}
.project {
  height: 60vh;
  width: 50%;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.screenshot {
  background: #cccccc;
}

.jquery {
  fill: $white;
}
