@media (max-width: 860px) {
    .fa-angle-double-down {
    display: none;
  }
  #about {
    .content {
      flex-direction: column;
      align-items: center;
    }
    .intro {
      margin-bottom: 25px;
    }
    .bio {
      text-align: justify;
      padding: 30px 0;
      width: 80%;
    }
    .headshot {
      width: 250px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 750px) {
  #about,
  #skills {
    height: auto;
    padding-bottom: 50px;
  }
  #projects,
  #projects2 {
    height: auto;
    .projects-container {
      flex-direction: column;
      align-items: center;
    }
    .project {
      width: 90%;
      padding-bottom: 25px;
      &:nth-of-type(odd) {
        margin-right: 0;
      }
    }
  }
  #projects2 {
    padding-top: 0;
  }
}

@media (max-width: 660px) {
  #about {
    .content {
      width: 95%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 550px) {
  // header span {
  // font-size: 6.5rem;
  // }
  h1 {
    font-size: 5rem;
  }

  .tagline {
    font-size: 3rem;
  }

  form {
    width: 100%;
    label {
      text-align: center;
    }
  }
}

@media (max-width: 375px) {
  #about {
    .bio {
      text-align: center;
    }
  }
}