@media (max-width: 750px) {
  #projects {
    .projects-container {
      flex-direction: column;
      align-items: center;
    }
    .project {
      width: 90%;
      &:nth-of-type(odd) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 550px) {
  header span {
    font-size: 6.5rem;
  }
  header h2 {
    font-size: 2.2rem;
  }

  form {
    width: 100%;
    label {
      text-align: center;
    }
  }
}

@media (max-width: 450px) {
  header span {
    font-size: 5.5rem;
  }
  header h2 {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  header span {
    font-size: 5rem;
  }
}
