body {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  color: $black;
}


p {
  line-height: 2.5rem;
  margin-bottom: 15px;
}

h1,
h2,
h3 {
  font-family: 'Tajawal', sans-serif;
  font-weight: 700;
}

// header

h1, .logo {
  text-transform: lowercase;
  position: relative;
  .io {
    color: $accent;
  }
}

h1::after, .logo::after {
  content: ".";
  position: absolute;
  color: $black;
}

h1 {
  font-size: 8rem;
  font-weight: 300;
  position: relative;
  letter-spacing: -4px;
  &::after {
    font-size: 8rem;
    top: 0;
    left:221px;
  }
}

.logo {
  font-weight: 400;
  font-size: 2.5rem;
  height: 100%;
  padding-top: 5px;
  &::after {
    font-size: 2rem;
    top: 9px;
    left:82px;
  }
}

.tagline {
  font-weight: 400;
  text-transform: lowercase;
}

h2 {
    font-size: 3.5rem;
}

section h2 {
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 5px;
  font-size: 2rem;
}

h4 {
  font-size:1.4rem;
}
