body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a {
  color: $black;
}

p {
  line-height: 2.5rem;
  margin-bottom: 15px;
}

h1, h2, h3 {
  font-family: "Tajawal", sans-serif;
}

h1 {
  font-size: 8rem;
  font-weight: 200;
  line-height: .75;
  letter-spacing: -4px;
  text-transform: lowercase;
  position: relative;
  &::after {
    content: ".";
    position: absolute;
    color: $black;
    font-size: 8rem;
    top: 0;
    left: 212px;
  }
  .io {
    color: $accent;
  }
}

.tagline {
  text-transform: lowercase;
  font-weight: 300;

}

h2 {
  font-size: 3.5rem;
  margin-bottom: 50px;

}

h3 {
  margin-bottom: 10px;
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}
