
span {
  color: $accent;
}


h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

h3 {
  margin-bottom: 20px;
}
