
h1 {
  color: white;
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 8rem;
  text-transform: lowercase;
  line-height: 1;
  margin: 0 50px;
  display: inline;
  letter-spacing: 1px;
}

span {
  color: $accent;
}


h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 25px;
}

h3 {
  margin-bottom: 20px;
}
