

body {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif;
    font-family: "Lato", sans-serif;


}
span {
  font-weight: 700;
}


h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: 'Averia Serif Libre', cursive;


}

h2 {
    margin-bottom: 25px;
    font-size: 2.5rem;
}

h3 {
  margin-bottom: 5px;
  font-size: 2.2rem;
}
