

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;


    font-family: 'Open Sans', sans-serif;


  font-weight: 300;
}

a {
  color: $black;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: 'Josefin Slab', serif;
}

// header

header {
  span {
    font-size: 8rem;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    }
  .io {
    color: $accent;
  }
}
h1 {
  color: $accent;
  font-size: 2rem;
  display: inline-block;
  text-transform: lowercase;
}

h2 {
    margin-bottom: 25px;
    font-size: 3.5rem;
}

h3 {
  margin-bottom: 5px;
  font-size: 2rem;
}

h4 {
  font-size:1.4rem;
}

