

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

a {
  color: $black;
}

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Averia Serif Libre', cursive;
}

h1 {
  color: $accent;
  font-size: 2rem;
  display: inline-block;
  text-transform: lowercase;
}

h2 {
    margin-bottom: 25px;
    font-size: 3.5rem;
    // text-transform: lowercase;
}

h3 {
  margin-bottom: 5px;
  font-size: 2rem;
}

h4 {
  font-size:1.4rem;
}

header span {
    font-size: 8rem;
    font-family: 'Averia Serif Libre', cursive;
  }
  .io {
    color: $accent;
  }


@media (max-width: 550px) {
  header span {
    font-size: 6.5rem;
  }
  header h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 450px) {
  header span {
      font-size: 5.5rem;
    }
    header h2 {
      font-size: 2rem;
    }
}


@media (max-width: 350px) {
  header span {
      font-size: 5rem;
  }
}