/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/* /END GENERAL STYLING */
html {
  font-size: 62.5%; }

body {
  background: #faf9f9;
  text-align: center; }

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.down-noun {
  position: absolute;
  left: 44%;
  bottom: 5px; }

.down-noun,
.up-noun {
  width: 100px;
  height: 100px; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

a {
  color: #181717; }

p {
  line-height: 2.5rem;
  margin-bottom: 15px; }

h1, h2, h3 {
  font-family: "Tajawal", sans-serif; }

h1 {
  font-size: 8rem;
  font-weight: 200;
  line-height: .75;
  letter-spacing: -4px;
  text-transform: lowercase;
  position: relative; }
  h1::after {
    content: ".";
    position: absolute;
    color: #181717;
    font-size: 8rem;
    top: 0;
    left: 212px; }
  h1 .io {
    color: #fa8072; }

.tagline {
  text-transform: lowercase;
  font-weight: 300; }

h2 {
  font-size: 3.5rem;
  margin-bottom: 50px; }

h3 {
  margin-bottom: 10px;
  font-size: 2rem; }

h4 {
  font-size: 1.4rem; }

header {
  overflow-x: hidden;
  background: #faf9f9;
  color: #181717;
  height: 100vh;
  position: relative; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

#top-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 5vw;
  z-index: 100; }

.main-nav::before,
.main-nav::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-transform-origin: 60% center;
  -ms-transform-origin: 60% center;
  transform-origin: 60% center;
  z-index: -10; }

.main-nav::before {
  top: 0;
  left: 0;
  border: 2px solid #fa8072; }

.main-nav::after {
  top: -5px;
  left: -9px;
  border: 2px solid #ffb30e; }

.main-nav {
  position: relative;
  cursor: pointer;
  z-index: 2000; }
  .main-nav:hover::after {
    -webkit-animation: rotate2 5s linear infinite;
    animation: rotate2 5s linear infinite; }
  .main-nav:hover::before {
    -webkit-animation: clockwise 5s linear infinite;
    animation: clockwise 5s linear infinite; }
  .main-nav:hover .hamburger {
    border-color: #181717; }

.list {
  display: none;
  text-transform: lowercase;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 0; }
  .list li {
    background: #faf9f9;
    text-transform: lowercase;
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px 20px 10px 30px;
    font-weight: 700; }
    .list li:hover {
      border: 2px solid #fa8072;
      background: #feefed; }

.exit {
  margin-left: auto; }

.hamburger,
.exit {
  font-size: 1.4rem;
  padding: 11px 10px 10px 10px;
  width: 40px;
  height: 40px;
  background: #faf9f9;
  border: 2px solid #181717;
  z-index: 1000; }

.exit,
.hide {
  display: none; }

.hidden {
  display: block; }

header .wrapper {
  position: relative; }

.circle {
  width: 415px;
  height: 415px;
  position: absolute;
  top: 18%;
  left: 25%;
  -webkit-box-shadow: 0 1px rgba(255, 179, 14, 0.05), 0 -1px rgba(255, 179, 14, 0.55), 1px 0 rgba(255, 179, 14, 0.55), -1px 0 rgba(255, 179, 14, 0.55), 1px -1px rgba(255, 179, 14, 0.05), -1px 1px rgba(255, 179, 14, 0.55), 1px 1px rgba(255, 179, 14, 0.55), -1px -1px rgba(255, 179, 14, 0.55);
  box-shadow: 0 1px rgba(255, 179, 14, 0.05), 0 -1px rgba(255, 179, 14, 0.55), 1px 0 rgba(255, 179, 14, 0.55), -1px 0 rgba(255, 179, 14, 0.55), 1px -1px rgba(255, 179, 14, 0.05), -1px 1px rgba(255, 179, 14, 0.55), 1px 1px rgba(255, 179, 14, 0.55), -1px -1px rgba(255, 179, 14, 0.55);
  -webkit-animation: rotate 60s linear infinite;
  animation: rotate 60s linear infinite; }
  .circle:nth-of-type(2) {
    -webkit-box-shadow: 0 1px rgba(250, 128, 114, 0.05), 0 -1px rgba(250, 128, 114, 0.55), 1px 0 rgba(250, 128, 114, 0.55), -1px 0 rgba(250, 128, 114, 0.55), 1px -1px rgba(250, 128, 114, 0.05), -1px 1px rgba(250, 128, 114, 0.55), 1px 1px rgba(250, 128, 114, 0.55), -1px -1px rgba(250, 128, 114, 0.55);
    box-shadow: 0 1px rgba(250, 128, 114, 0.05), 0 -1px rgba(250, 128, 114, 0.55), 1px 0 rgba(250, 128, 114, 0.55), -1px 0 rgba(250, 128, 114, 0.55), 1px -1px rgba(250, 128, 114, 0.05), -1px 1px rgba(250, 128, 114, 0.55), 1px 1px rgba(250, 128, 114, 0.55), -1px -1px rgba(250, 128, 114, 0.55);
    -webkit-animation: rotate2 30s linear infinite;
    animation: rotate2 30s linear infinite; }
  .circle:nth-of-type(3) {
    -webkit-box-shadow: 0 1px rgba(255, 179, 14, 0.05), 0 -1px rgba(255, 179, 14, 0.55), 1px 0 rgba(255, 179, 14, 0.55), -1px 0 rgba(255, 179, 14, 0.55), 1px -1px rgba(255, 179, 14, 0.05), -1px 1px rgba(255, 179, 14, 0.55), 1px 1px rgba(255, 179, 14, 0.55), -1px -1px rgba(255, 179, 14, 0.55);
    box-shadow: 0 1px rgba(255, 179, 14, 0.05), 0 -1px rgba(255, 179, 14, 0.55), 1px 0 rgba(255, 179, 14, 0.55), -1px 0 rgba(255, 179, 14, 0.55), 1px -1px rgba(255, 179, 14, 0.05), -1px 1px rgba(255, 179, 14, 0.55), 1px 1px rgba(255, 179, 14, 0.55), -1px -1px rgba(255, 179, 14, 0.55);
    -webkit-animation: rotate 30s linear infinite;
    animation: rotate 30s linear infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }
  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }
  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

@-webkit-keyframes psycho {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translate(0, 0);
    transform: rotate(0deg) scale(1) translate(0, 0); }
  33% {
    -webkit-transform: rotate(360deg) scale(1) translate(25px, 25px);
    transform: rotate(360deg) scale(1) translate(25px, 25px); }
  66% {
    -webkit-transform: rotate(720deg) scale(1) translate(-25px, -25px);
    transform: rotate(720deg) scale(1) translate(-25px, -25px); }
  100% {
    -webkit-transform: rotate(1080deg) scale(1) translate(0, 0);
    transform: rotate(1080deg) scale(1) translate(0, 0); } }

@keyframes psycho {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translate(0, 0);
    transform: rotate(0deg) scale(1) translate(0, 0); }
  33% {
    -webkit-transform: rotate(360deg) scale(1) translate(25px, 25px);
    transform: rotate(360deg) scale(1) translate(25px, 25px); }
  66% {
    -webkit-transform: rotate(720deg) scale(1) translate(-25px, -25px);
    transform: rotate(720deg) scale(1) translate(-25px, -25px); }
  100% {
    -webkit-transform: rotate(1080deg) scale(1) translate(0, 0);
    transform: rotate(1080deg) scale(1) translate(0, 0); } }

@-webkit-keyframes rotate2 {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes rotate2 {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes clockwise {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clockwise {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

header,
#about,
#skills {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#about .intro {
  text-align: center;
  width: 100%;
  margin-bottom: 50px; }
  #about .intro h2 {
    margin-bottom: 0; }

#about .bio {
  text-align: left;
  padding: 30px 0; }

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0 auto; }

#about .headshot {
  position: relative; }
  #about .headshot img {
    border: 2px solid black; }

#about .headshot,
#about .bio {
  width: calc(50% - 30px);
  margin: 0 10px; }

.headshot::before,
.headshot::after {
  content: "";
  position: absolute;
  width: 185px;
  height: 185px;
  z-index: -20; }

.headshot::before {
  border: 2px solid #ffb30e;
  top: 0;
  left: 0; }

.headshot::after {
  border: 2px solid #fa8072;
  top: -10px;
  left: -20px; }

#skills .content {
  padding-top: 150px; }

#skills .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #skills .icons li {
    width: 120px;
    text-align: center;
    padding: 20px 10px; }
  #skills .icons i {
    font-size: 4.5rem;
    margin-bottom: 5px; }
  #skills .icons img {
    height: 45px;
    margin-bottom: 5px; }

#projects,
#projects2 {
  padding-top: 25px;
  height: 100vh; }
  #projects .projects-container,
  #projects2 .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #projects .project,
  #projects2 .project {
    width: calc(50% - 30px); }
    #projects .project:nth-of-type(odd),
    #projects2 .project:nth-of-type(odd) {
      margin-right: 60px; }
  #projects .mockup,
  #projects2 .mockup {
    width: 100%;
    position: relative; }
  #projects .project-skills,
  #projects2 .project-skills {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px; }
  #projects .description,
  #projects2 .description {
    padding: 25px 0;
    text-align: center; }
  #projects .view,
  #projects2 .view {
    font-weight: 700;
    display: inline-block;
    border: 1px solid #fa8072;
    padding: 10px 0;
    margin-right: 10px;
    width: 80px;
    text-align: center;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease; }
    #projects .view:hover,
    #projects2 .view:hover {
      border-color: #fa8072;
      background: #feefed; }

footer {
  height: 100vh;
  color: #181717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding-top: 50px; }
  footer h2 {
    margin-bottom: 25px;
    line-height: 1; }
  footer .email {
    font-size: 1.8rem;
    color: #181717;
    font-weight: 500; }
  footer .up {
    display: inline-block; }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0; }
  footer i {
    color: #181717;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    -webkit-transition: 0.45s ease;
    -o-transition: 0.45s ease;
    transition: 0.45s ease; }
    footer i:hover {
      color: #fa8072; }
  footer .copyright {
    color: grey; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 450px;
  margin: 0 auto; }
  form label {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.6rem; }
  form input,
  form textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #e4e4e4; }
    form input:hover,
    form textarea:hover {
      background: #fdd9d5; }
    form input:focus,
    form textarea:focus {
      background: #fdc3bc; }
  form textarea {
    resize: none; }
    form textarea:hover {
      resize: auto; }
  form input[type="submit"] {
    background: #646464;
    color: #faf9f9; }
    form input[type="submit"]:hover {
      background: #181717; }

@media (max-width: 860px) {
  .down-noun,
  .up-noun {
    display: none; }
  #about .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #about .intro {
    margin-bottom: 25px; }
  #about .bio {
    text-align: justify;
    padding: 30px 0;
    width: 80%; }
  #about .headshot {
    width: 250px;
    margin: 0 auto; }
  #skills {
    height: auto; }
    #skills .content {
      padding: 50px 0; } }

@media (max-width: 750px) {
  #about,
  #skills {
    height: auto;
    padding-bottom: 50px; }
  #projects,
  #projects2 {
    height: auto; }
    #projects .projects-container,
    #projects2 .projects-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #projects .project,
    #projects2 .project {
      width: 90%;
      padding-bottom: 25px; }
      #projects .project:nth-of-type(odd),
      #projects2 .project:nth-of-type(odd) {
        margin-right: 0; }
  #projects2 {
    padding-top: 0; } }

@media (max-width: 660px) {
  #about .content {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 550px) {
  h1 {
    font-size: 6rem;
    font-weight: 400; }
    h1::after {
      font-size: 6rem;
      top: 0;
      left: 157px; }
  .tagline {
    font-size: 2.6rem;
    font-weight: 300; }
  form {
    width: 100%; }
    form label {
      text-align: center; } }

@media (max-width: 375px) {
  #about .bio {
    text-align: center; } }
