/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/* /END GENERAL STYLING */
html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background: #faf9f9;
  text-align: center; }

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.fa-angle-double-down {
  position: absolute;
  font-size: 3rem;
  left: 50%;
  bottom: 50px; }
  .fa-angle-double-down:hover {
    color: #181717;
    font-size: 3.1rem; }

.fa-angle-double-down,
.fa-angle-double-up {
  color: #fa8072;
  display: block;
  text-align: center; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

body {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

a {
  color: #181717; }

p {
  line-height: 2.5rem;
  margin-bottom: 15px; }

h1,
h2,
h3 {
  font-family: 'Tajawal', sans-serif;
  font-weight: 700; }

h1, .logo {
  text-transform: lowercase;
  position: relative; }
  h1 .io, .logo .io {
    color: #fa8072; }

h1::after, .logo::after {
  content: ".";
  position: absolute;
  color: #181717; }

h1 {
  font-size: 8rem;
  font-weight: 300;
  position: relative;
  letter-spacing: -4px; }
  h1::after {
    font-size: 8rem;
    top: 0;
    left: 221px; }

.logo {
  font-weight: 400;
  font-size: 2.5rem;
  height: 100%;
  padding-top: 5px; }
  .logo::after {
    font-size: 2rem;
    top: 9px;
    left: 82px; }

.tagline {
  font-weight: 400;
  text-transform: lowercase; }

h2 {
  font-size: 3.5rem; }

section h2 {
  margin-bottom: 50px; }

h3 {
  margin-bottom: 5px;
  font-size: 2rem; }

h4 {
  font-size: 1.4rem; }

header {
  overflow-x: hidden;
  background: #faf9f9;
  color: #181717;
  height: 100vh;
  position: relative; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

#top-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 5vw;
  z-index: 100; }

.main-nav::before,
.main-nav::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transform-origin: 60% center;
  -ms-transform-origin: 60% center;
  transform-origin: 60% center;
  z-index: -10; }

.main-nav::before {
  top: 0;
  left: 0;
  border: 2px solid #fa8072; }

.main-nav::after {
  top: -5px;
  left: -9px;
  border: 2px solid #ffb30e; }

.main-nav {
  position: relative;
  cursor: pointer;
  z-index: 2000; }
  .main-nav:hover::after {
    -webkit-animation: rotate2 5s linear infinite;
    animation: rotate2 5s linear infinite; }
  .main-nav:hover::before {
    -webkit-animation: clockwise 5s linear infinite;
    animation: clockwise 5s linear infinite; }
  .main-nav:hover .hamburger {
    border-color: #181717; }

.list {
  display: none;
  text-transform: lowercase;
  text-align: right;
  position: absolute;
  top: 50px;
  right: 0; }
  .list li {
    background: #faf9f9;
    text-transform: lowercase;
    border: 2px solid black;
    margin: 10px 0;
    padding: 10px 20px 10px 30px;
    font-weight: 700; }
    .list li:hover {
      border: 2px solid #fa8072;
      background: #feefed; }

.hamburger {
  z-index: 1000;
  font-size: 1.4rem; }

.hamburger,
.exit {
  background: #faf9f9;
  padding: 10px 10px 10px 10px;
  border: 2px solid #181717;
  border-radius: 50%; }

.exit {
  padding: 10px;
  display: inline-block;
  width: 40px;
  margin-left: auto; }

.exit,
.hide {
  display: none; }

.hidden {
  display: block; }

header .wrapper {
  position: relative; }

.circle {
  width: 415px;
  height: 415px;
  border-radius: 50%;
  position: absolute;
  top: 22%;
  left: 25%;
  -webkit-box-shadow: 0 1px rgba(255, 179, 14, 0.05), 0 -1px rgba(255, 179, 14, 0.15), 1px 0 rgba(255, 179, 14, 0.05), -1px 0 rgba(255, 179, 14, 0.15), 1px -1px rgba(255, 179, 14, 0.05), -1px 1px rgba(255, 179, 14, 0.15), 1px 1px rgba(255, 179, 14, 0.05), -1px -1px rgba(255, 179, 14, 0.15), 3px -3px rgba(255, 179, 14, 0.15), -3px 3px rgba(255, 179, 14, 0.05), 3px 3px rgba(255, 179, 14, 0.15), -3px -3px rgba(255, 179, 14, 0.05);
  box-shadow: 0 1px rgba(255, 179, 14, 0.05), 0 -1px rgba(255, 179, 14, 0.15), 1px 0 rgba(255, 179, 14, 0.05), -1px 0 rgba(255, 179, 14, 0.15), 1px -1px rgba(255, 179, 14, 0.05), -1px 1px rgba(255, 179, 14, 0.15), 1px 1px rgba(255, 179, 14, 0.05), -1px -1px rgba(255, 179, 14, 0.15), 3px -3px rgba(255, 179, 14, 0.15), -3px 3px rgba(255, 179, 14, 0.05), 3px 3px rgba(255, 179, 14, 0.15), -3px -3px rgba(255, 179, 14, 0.05);
  -webkit-animation: rotate 60s linear infinite;
  animation: rotate 60s linear infinite; }
  .circle:nth-of-type(2) {
    -webkit-box-shadow: 0 1px rgba(250, 128, 114, 0.05), 0 -1px rgba(250, 128, 114, 0.15), 1px 0 rgba(250, 128, 114, 0.05), -1px 0 rgba(250, 128, 114, 0.15), 1px -1px rgba(250, 128, 114, 0.05), -1px 1px rgba(250, 128, 114, 0.15), 1px 1px rgba(250, 128, 114, 0.05), -1px -1px rgba(250, 128, 114, 0.15), 3px -3px rgba(250, 128, 114, 0.15), -3px 3px rgba(250, 128, 114, 0.05), 3px 3px rgba(250, 128, 114, 0.15), -3px -3px rgba(250, 128, 114, 0.05);
    box-shadow: 0 1px rgba(250, 128, 114, 0.05), 0 -1px rgba(250, 128, 114, 0.15), 1px 0 rgba(250, 128, 114, 0.05), -1px 0 rgba(250, 128, 114, 0.15), 1px -1px rgba(250, 128, 114, 0.05), -1px 1px rgba(250, 128, 114, 0.15), 1px 1px rgba(250, 128, 114, 0.05), -1px -1px rgba(250, 128, 114, 0.15), 3px -3px rgba(250, 128, 114, 0.15), -3px 3px rgba(250, 128, 114, 0.05), 3px 3px rgba(250, 128, 114, 0.15), -3px -3px rgba(250, 128, 114, 0.05);
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite; }
  .circle:nth-of-type(3) {
    -webkit-box-shadow: 0 1px rgba(255, 179, 14, 0.05), 0 -1px rgba(255, 179, 14, 0.15), 1px 0 rgba(255, 179, 14, 0.05), -1px 0 rgba(255, 179, 14, 0.15), 1px -1px rgba(255, 179, 14, 0.05), -1px 1px rgba(255, 179, 14, 0.15), 1px 1px rgba(255, 179, 14, 0.05), -1px -1px rgba(255, 179, 14, 0.15), 3px -3px rgba(255, 179, 14, 0.15), -3px 3px rgba(255, 179, 14, 0.05), 3px 3px rgba(255, 179, 14, 0.15), -3px -3px rgba(255, 179, 14, 0.05);
    box-shadow: 0 1px rgba(255, 179, 14, 0.05), 0 -1px rgba(255, 179, 14, 0.15), 1px 0 rgba(255, 179, 14, 0.05), -1px 0 rgba(255, 179, 14, 0.15), 1px -1px rgba(255, 179, 14, 0.05), -1px 1px rgba(255, 179, 14, 0.15), 1px 1px rgba(255, 179, 14, 0.05), -1px -1px rgba(255, 179, 14, 0.15), 3px -3px rgba(255, 179, 14, 0.15), -3px 3px rgba(255, 179, 14, 0.05), 3px 3px rgba(255, 179, 14, 0.15), -3px -3px rgba(255, 179, 14, 0.05); }
  .circle-multiple .circle:nth-of-type(1) {
    -webkit-animation: psycho 15s linear infinite;
    animation: psycho 15s linear infinite; }
  .circle-multiple .circle:nth-of-type(2) {
    -webkit-animation: psycho 10s linear .30s infinite;
    animation: psycho 10s linear .30s infinite; }
  .circle-multiple .circle:nth-of-type(3) {
    -webkit-animation: psycho 15s linear .25s infinite;
    animation: psycho 15s linear .25s infinite; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }
  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }
  to {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); } }

@-webkit-keyframes psycho {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translate(0, 0);
    transform: rotate(0deg) scale(1) translate(0, 0); }
  33% {
    -webkit-transform: rotate(360deg) scale(1) translate(25px, 25px);
    transform: rotate(360deg) scale(1) translate(25px, 25px); }
  66% {
    -webkit-transform: rotate(720deg) scale(1) translate(-25px, -25px);
    transform: rotate(720deg) scale(1) translate(-25px, -25px); }
  100% {
    -webkit-transform: rotate(1080deg) scale(1) translate(0, 0);
    transform: rotate(1080deg) scale(1) translate(0, 0); } }

@keyframes psycho {
  0% {
    -webkit-transform: rotate(0deg) scale(1) translate(0, 0);
    transform: rotate(0deg) scale(1) translate(0, 0); }
  33% {
    -webkit-transform: rotate(360deg) scale(1) translate(25px, 25px);
    transform: rotate(360deg) scale(1) translate(25px, 25px); }
  66% {
    -webkit-transform: rotate(720deg) scale(1) translate(-25px, -25px);
    transform: rotate(720deg) scale(1) translate(-25px, -25px); }
  100% {
    -webkit-transform: rotate(1080deg) scale(1) translate(0, 0);
    transform: rotate(1080deg) scale(1) translate(0, 0); } }

@-webkit-keyframes rotate2 {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes rotate2 {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes clockwise {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes clockwise {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

header,
#about,
#skills {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#about {
  text-align: center; }
  #about .content {
    padding-top: 50px; }
  #about h2 {
    margin-bottom: 5px; }
  #about .me {
    width: 175px;
    display: block;
    position: relative;
    margin: 10px auto 25px auto; }
    #about .me img {
      border-radius: 50%;
      border: 3px solid black; }
  #about .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 575px;
    margin: 0 auto; }
  #about a {
    font-weight: 700;
    color: #fa8072; }

.me::before,
.me::after {
  content: "";
  position: absolute;
  width: 185px;
  height: 185px;
  border-radius: 50%;
  z-index: -20; }

.me::before {
  border: 2px solid #ffb30e;
  top: 0;
  left: 0; }

.me::after {
  border: 2px solid #fa8072;
  top: -10px;
  left: -20px; }

#skills .content {
  padding-top: 130px; }

#skills .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #skills .icons li {
    width: 120px;
    text-align: center;
    padding: 20px 10px; }
  #skills .icons i {
    font-size: 4.5rem;
    margin-bottom: 5px; }
  #skills .icons img {
    height: 45px;
    margin-bottom: 5px; }

#projects {
  padding: 50px 0; }
  #projects .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #projects .project {
    margin-bottom: 25px;
    width: calc(50% - 20px); }
    #projects .project:nth-of-type(odd) {
      margin-right: 40px; }
  #projects .mockup {
    width: 100%;
    position: relative; }
  #projects .project-skills {
    font-size: 1.4rem;
    font-weight: 700; }
  #projects .description {
    padding: 25px 0;
    text-align: center; }
  #projects .view {
    font-weight: 700;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 0;
    margin-right: 10px;
    width: 80px;
    text-align: center; }
    #projects .view:hover {
      border-color: #fa8072;
      background: #feefed; }

footer {
  color: #181717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding-top: 50px; }
  footer .email {
    font-size: 2rem; }
    footer .email span {
      color: #fa8072; }
  footer .top {
    display: inline-block;
    margin-top: 20px;
    font-weight: 700; }
    footer .top:hover {
      text-decoration: underline;
      color: #fa8072; }
  footer .email,
  footer .top {
    color: #181717; }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0; }
  footer i {
    color: #181717;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    -webkit-transition: 0.45s ease;
    -o-transition: 0.45s ease;
    transition: 0.45s ease; }
    footer i:hover {
      color: #fa8072; }
  footer .copyright {
    margin-top: 25px;
    color: #646464; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 450px;
  margin: 0 auto; }
  form label {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.6rem; }
  form input,
  form textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #e4e4e4; }
    form input:hover,
    form textarea:hover {
      background: #fdd9d5; }
    form input:focus,
    form textarea:focus {
      background: #fdc3bc; }
  form textarea {
    resize: none; }
    form textarea:hover {
      resize: auto; }
  form input[type="submit"] {
    background: #646464;
    color: #faf9f9; }
    form input[type="submit"]:hover {
      background: #181717; }

@media (max-width: 750px) {
  #projects .projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #projects .project {
    width: 90%; }
    #projects .project:nth-of-type(odd) {
      margin-right: 0; } }

@media (max-width: 660px) {
  #about .content {
    width: 95%;
    margin: 0 auto; } }

@media (max-width: 550px) {
  header span {
    font-size: 6.5rem; }
  header h2 {
    font-size: 2.2rem; }
  form {
    width: 100%; }
    form label {
      text-align: center; } }

@media (max-width: 450px) {
  header span {
    font-size: 5.5rem; }
  header h2 {
    font-size: 2rem; } }

@media (max-width: 350px) {
  header span {
    font-size: 5rem; } }
