/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/* /END GENERAL STYLING */
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif;
  background: #faf9f9; }

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto; }

.content {
  padding: 100px 0;
  border-bottom: 2px solid #181717; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

p {
  line-height: 2.5rem;
  margin-bottom: 15px; }

span {
  font-weight: 700; }

h2,
h3,
h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700; }

h2 {
  text-transform: uppercase;
  margin-bottom: 25px; }

h3 {
  margin-bottom: 20px; }

header {
  background: #faf9f9;
  color: #181717;
  height: 100vh;
  padding: 25px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative; }
  header h1 {
    color: #181717;
    font-family: "Sedgwick Ave Display", cursive;
    font-size: 8rem;
    text-transform: lowercase;
    line-height: 1;
    margin: 0 50px;
    display: inline;
    letter-spacing: 1px; }
  header i {
    font-size: 2.5rem;
    color: white; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  nav ul li {
    text-transform: lowercase;
    margin: 0 15px; }
  nav ul a {
    color: #181717;
    position: relative; }
    nav ul a:hover:after {
      color: lightseagreen; }

header a::after {
  content: ".";
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 8rem;
  position: absolute;
  top: -20px;
  left: 42%;
  color: transparent; }

.content {
  padding: 100px 0;
  border-bottom: 2px solid #181717; }

#about i {
  font-size: 5rem;
  margin-right: 15px; }

#about img {
  height: 80px;
  display: inline-block;
  margin-right: 15px; }

#about .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #about .icons .fab,
  #about .icons .devicon-jquery-plain {
    color: #181717; }

#projects {
  background: #faf9f9; }

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  margin: 50px 0;
  border: 1px solid black; }

.project {
  height: 60vh;
  width: 50%; }
  .project img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }

.screenshot {
  background: #cccccc; }

.jquery {
  fill: #faf9f9; }

footer {
  color: #181717;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  footer .content {
    border: none;
    margin: 0;
    padding-bottom: 25px; }
  footer .email {
    color: #181717;
    font-size: 2rem; }
    footer .email span {
      color: #646464; }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0; }
  footer i {
    color: #181717;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    -webkit-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease; }
    footer i:hover {
      color: lightseagreen;
      border-color: rgba(255, 255, 255, 0.4); }
  footer .copyright {
    margin-top: 25px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 450px;
  margin: 0 auto; }
  form label {
    text-align: left;
    margin-bottom: 5px; }
  form input,
  form textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #e4e4e4; }
    form input:hover,
    form textarea:hover {
      background: #d7d7d7; }
    form input:focus,
    form textarea:focus {
      background: #d7d7d7; }
  form textarea {
    resize: none; }
    form textarea:hover {
      resize: auto; }
  form input[type="submit"] {
    background: #181717;
    color: #faf9f9; }
