/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/* /END GENERAL STYLING */
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif;
  background: #faf9f9; }

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto; }

.content {
  padding: 75px 0;
  border-bottom: 1px solid salmon;
  position: relative; }

.content::after {
  content: "";
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid salmon;
  left: calc(50% - 15px);
  top: 100%; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

p {
  line-height: 2.5rem;
  margin-bottom: 15px; }

span {
  font-weight: 700; }

h2,
h3,
h4 {
  font-weight: 700; }

h2 {
  text-transform: uppercase;
  margin-bottom: 25px; }

h3 {
  margin-bottom: 5px; }

header {
  background: #faf9f9;
  color: #181717;
  height: 100vh;
  padding: 25px 0;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  position: relative; }
  header h1 {
    color: #181717;
    font-size: 8rem;
    line-height: 1;
    margin: 10px 50px;
    display: inline-block; }
  header i {
    font-size: 2.5rem;
    color: white; }

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  nav ul li {
    text-transform: lowercase;
    margin: 0 15px; }
  nav ul a {
    color: #181717;
    position: relative; }
    nav ul a:hover:after {
      color: salmon; }

header a::after {
  content: ".";
  font-size: 8rem;
  position: absolute;
  top: -35px;
  left: 40%;
  color: transparent; }

#about i {
  font-size: 5rem;
  margin-right: 15px; }

#about img {
  height: 80px;
  display: inline-block;
  margin-right: 15px; }

#about .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #about .icons .fab,
  #about .icons .devicon-jquery-plain {
    color: #181717; }

#projects {
  text-align: center; }
  #projects .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 50px; }
  #projects .project {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    margin-bottom: 25px;
    width: calc(50% - 20px); }
    #projects .project:nth-of-type(odd) {
      margin-right: 40px; }
  #projects .mockup {
    background: lightgrey;
    width: 100%;
    height: 35vh;
    position: relative; }
    #projects .mockup:after {
      content: "";
      position: absolute;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 15px solid transparent;
      left: calc(50% - 15px);
      top: 0;
      -webkit-transition: border-top .5s ease;
      -o-transition: border-top .5s ease;
      transition: border-top .5s ease; }
    #projects .mockup:hover::after {
      border-top: 15px solid salmon; }
  #projects .description {
    padding: 25px 0;
    text-align: center; }
  #projects .view {
    color: #181717;
    font-weight: 700;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 0;
    margin-right: 10px;
    width: 80px;
    text-align: center; }
    #projects .view:hover {
      border-color: salmon;
      background: #feefed; }

footer {
  color: #181717;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  footer .content {
    border: none;
    margin: 0;
    padding-bottom: 5px; }
    footer .content::after {
      display: none; }
  footer .email {
    font-size: 2rem; }
    footer .email span {
      color: #646464; }
  footer .top {
    display: inline-block;
    margin-top: 20px; }
    footer .top:hover {
      text-decoration: underline; }
  footer .email,
  footer .top {
    color: #181717; }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0; }
  footer i {
    color: #181717;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    -webkit-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease; }
    footer i:hover {
      color: salmon;
      border-color: rgba(255, 255, 255, 0.4); }
  footer .copyright {
    margin-top: 50px;
    color: #646464; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 450px;
  margin: 0 auto; }
  form label {
    text-align: left;
    margin-bottom: 5px; }
  form input,
  form textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #e4e4e4; }
    form input:hover,
    form textarea:hover {
      background: #fdd9d5; }
    form input:focus,
    form textarea:focus {
      background: #fdc3bc; }
  form textarea {
    resize: none; }
    form textarea:hover {
      resize: auto; }
  form input[type="submit"] {
    background: #646464;
    color: #faf9f9; }
    form input[type="submit"]:hover {
      background: #181717; }
