/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/* /END GENERAL STYLING */
html {
  font-size: 62.5%; }

body {
  background: #faf9f9;
  text-align: center; }

.wrapper {
  max-width: 800px;
  width: 90vw;
  margin: 0 auto;
  position: relative; }

.fa-angle-double-down,
.fa-angle-double-up {
  color: #fa8072;
  font-size: 2rem;
  display: block;
  text-align: center; }

header,
#about, #skills, footer {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

p {
  line-height: 2.5rem;
  margin-bottom: 15px; }

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

a {
  color: #181717; }

h1,
h2,
h3 {
  font-weight: 400;
  font-family: 'Josefin Slab', serif; }

header span {
  font-size: 8rem;
  font-family: 'Josefin Slab', serif;
  font-weight: 700; }

header .io {
  color: #fa8072; }

h1 {
  color: #fa8072;
  font-size: 2rem;
  display: inline-block;
  text-transform: lowercase; }

h2 {
  margin-bottom: 25px;
  font-size: 3.5rem; }

h3 {
  margin-bottom: 5px;
  font-size: 2rem; }

h4 {
  font-size: 1.4rem; }

header {
  background: #faf9f9;
  color: #181717;
  height: 100vh;
  position: relative; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

#top-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 10px 5vw;
  z-index: 100; }

.main-nav {
  position: relative; }

.list {
  display: none;
  text-transform: lowercase;
  text-align: right;
  position: absolute;
  top: -10px;
  right: 0; }
  .list li {
    text-transform: lowercase;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px 20px 10px 30px; }
    .list li:hover {
      border: 1px solid #fa8072;
      background: #feefed; }

.exit,
.hide {
  display: none; }

.hidden {
  display: block; }

#about {
  text-align: left; }

#skills .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#skills li {
  width: 120px;
  text-align: center;
  padding: 20px 10px; }
  #skills li i {
    font-size: 4.5rem;
    margin-bottom: 5px; }

#skills img {
  height: 45px;
  margin-bottom: 5px; }

#projects {
  padding-top: 50px; }
  #projects .projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #projects .project {
    width: calc(50% - 20px); }
    #projects .project:nth-of-type(odd) {
      margin-right: 40px; }
  #projects .mockup {
    width: 100%;
    position: relative; }
    #projects .mockup img {
      width: 100%; }
  #projects .description {
    padding: 25px 0;
    text-align: center; }
  #projects .view {
    font-weight: 700;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 0;
    margin-right: 10px;
    width: 80px;
    text-align: center; }
    #projects .view:hover {
      border-color: #fa8072;
      background: #feefed; }

footer {
  color: #181717;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  footer .email {
    font-size: 2rem; }
    footer .email span {
      color: #fa8072; }
  footer .top {
    display: inline-block;
    margin-top: 20px;
    font-weight: 700; }
    footer .top:hover {
      text-decoration: underline;
      color: #fa8072; }
  footer .email,
  footer .top {
    color: #181717; }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0; }
  footer i {
    color: #181717;
    padding: 10px;
    margin: 0 5px;
    font-size: 2.5rem;
    -webkit-transition: 0.45s ease;
    -o-transition: 0.45s ease;
    transition: 0.45s ease; }
    footer i:hover {
      color: #fa8072; }
  footer .copyright {
    margin-top: 25px;
    color: #646464; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 450px;
  margin: 0 auto; }
  form label {
    text-align: left;
    margin-bottom: 5px; }
  form input,
  form textarea {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    background: #e4e4e4; }
    form input:hover,
    form textarea:hover {
      background: #fdd9d5; }
    form input:focus,
    form textarea:focus {
      background: #fdc3bc; }
  form textarea {
    resize: none; }
    form textarea:hover {
      resize: auto; }
  form input[type="submit"] {
    background: #646464;
    color: #faf9f9; }
    form input[type="submit"]:hover {
      background: #181717; }

@media (max-width: 750px) {
  #projects .projects-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #projects .project {
    width: 90%; }
    #projects .project:nth-of-type(odd) {
      margin-right: 0; } }

@media (max-width: 550px) {
  header span {
    font-size: 6.5rem; }
  header h2 {
    font-size: 2.2rem; }
  form {
    width: 100%; }
    form label {
      text-align: center; } }

@media (max-width: 450px) {
  header span {
    font-size: 5.5rem; }
  header h2 {
    font-size: 2rem; } }

@media (max-width: 350px) {
  header span {
    font-size: 5rem; } }
